.navbar{
  margin: 10px 0;
  box-sizing: border-box;
  display: inline-block;
  width:100%;
  align-items: center;
}

.navbar a{
  color: #2B2B2C;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.navbar a:hover,
.navbar a:active,
.navbar a:active{
  color: #40A4c8;
}
@media (mid-width=500px) {
  .navbar{
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .navbar a{
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .navbar a:hover,
  .navbar a:active,
  .navbar a:active{
    background-color: #8F5c2c;
    border-bottom: 4px solid #40A4c8;
    color: white;
  }

}
