.jumbotron{
  background-image: url(../../images/bkg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}
.social{
  position: relative;
  bottom: 0;
  margin-left: 90%;
  font-size: 20px;
  color: white;
}

.social a:hover {
    color: white;
    border-radius: 3px;
    padding: 5px;
}

.social a{
    color: white;
}
