@import url(https://fonts.googleapis.com/css?family=Croissant+One);

.social{
    list-style: none;
    padding-left: 0;
    font-size: .4em;
    color: black;
}

.social a{
  color: black;
}

/* body{
	background-color: #000000;
  padding: 0px;
  margin: 0px;
  color: black;
 } */

#gradient
{
  width: 100%;
  min-height: 50vh;
  padding: 0px;
  margin: 0px;
  box-shadow: inset 0 0 200px hsla(0,0%,0%,.4);
}



.header{
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1.25em;
  color: #2d2d2d;
}



.header span {
  display: inline-block;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  padding: .5em .6em;
}

@media (max-width: 1000px) {
  .header{
    margin-top: 20px;
  }
  .header span {
    display: inline-block;
    border-top: 0px solid #2d2d2d;
    border-bottom: 0px solid #2d2d2d;
    padding: .5em .6em;
  }

}
