.jumbotron{
  background-image: url(../../images/bkg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}
ul {
  list-style-type: none;
}

.social{
	position:relative;
  display: inline-block;
	z-index:10;
  margin-left: 85%;
	cursor:pointer;
	text-decoration:none;
  text-align: center;
}


.social a{
    color: white;
}

.social a:hover {
    background-color: rgba(64, 119, 227,.7);
    color: white;
    border-radius: 3px;
}
